<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="300">
<head>
    <meta charset="UTF-8">
    <title>SOH-EPS BATTERY_1/BATTERY_2/BATTERY_3</title>
    <link href="./css/custom.css" rel="stylesheet">
    <style>
    </style>

</head>
<body>

<header>
    <h1>Chandra State Of Heath - EPS (BATTERY_1/BATTERY_2/BATTERY_3)</h1>
        <p><b>The Last Data Update:</b> <span id="blobtime"></span></p>
</header>

<section id="dashapp">
    
    <div style='padding-bottom:40px'>
        <table border=0 style="float:left;">
            <tr>
                <td class="msid" data-msid='AOPCADMD'></td>
                <td class="msid" data-msid='CCSDSVCD'></td>
                <td class="msid" data-msid='COBSRQID'></td>
            </tr>
        </table>

        <table border=0 style="float:right;">
            <tr>
                <td class="msid" data-msid='CCSDSTMF'></td>
                <td class="msid" data-msid='COTLRDSF'></td>
            </tr>
        </table>
    </div>

    <div class='spacer'></div>
    <nav style='padding-top: 10px;'>
        <table border=1>
            <tr>
                <td class='bold'><a href='./soh.html'>SOH Main</a> </td> 
                <td class='bold'><a href='./soh_pcad1.html'>PCAD</a> </td> 
                <td class='bold'><a href='./soh_ccdm1.html'>CCDM</a> </td>
                <td class='bold'><a href='./soh_sc_config1.html'>S/C Config</a> </td>
                <td class='bold'><a href='./soh_mech1.html'>Mechanisms</a> </td>
                <td class='bold'><a href='./soh_thermal1.html'>Thermal</a> </td>
                <td class='bold'><a href='./soh_prop1.html'>Propulsion</a> </td>
                <td class='bold'>EPS</td>
                <td class='bold'><a href='./soh_smode1.html'>Safe Mode</a> </td>
                <td class='bold'><a href='./soh_load1.html'>Load Rev</a> </td>
            </tr>
        </table>
        
        <table border=1>
            <caption>EPS Subsections</caption>
            <tr>
                <td class='bold'><a href='./soh_eps1.html'>Load Bus/Solar Array/EPS SW</a></td>
                <td class='bold'>Battery 1/Battery 2/Battery 3</td>
            </tr>
        </table>
    </nav>

  <hr />

    <div id='battery_1'>
        <div class='caption'>BATTERY_1</div>
        <div class='spacer'></div>
        <div class='mcolumn'>
            <table>
				<tr class="msid"   data-msid="EB1CI" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="EB1DI" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="EB1K1">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EB1K2">  </tr>
				<tr class="msid"   data-msid="EB1K3">  </tr>
				<tr class="msid"   data-msid="EB1K4">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EB1K5">  </tr>
				<tr class="msid"   data-msid="EB1UV">  </tr>
				<tr class="msid"   data-msid="EB1V" data-printfmt="%.3f">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EOCHRGB1" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB1T1" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB1T2" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB1T3" data-printfmt="%.3f">  </tr>
            </table>
        </div>
    </div>
    
    <div class='spacer'></div>
    
    <div id='battery_2'>
        <div class='caption'>BATTERY_2</div>
        <div class='spacer'></div>
        <div class='mcolumn'>
            <table>
				<tr class="msid"   data-msid="EB2CI" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="EB2DI" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="EB2K1">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EB2K2">  </tr>
				<tr class="msid"   data-msid="EB2K3">  </tr>
				<tr class="msid"   data-msid="EB2K4">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EB2K5">  </tr>
				<tr class="msid"   data-msid="EB2UV">  </tr>
				<tr class="msid"   data-msid="EB2V" data-printfmt="%.3f">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EOCHRGB2" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB2T1" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB2T2" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB2T3" data-printfmt="%.3f">  </tr>
            </table>
        </div>
    </div>
    
    <div class='spacer'></div>
    
    <div id='battery_3'>
        <div class='caption'>BATTERY_3</div>
        <div class='spacer'></div>
        <div class='mcolumn'>
            <table>
				<tr class="msid"   data-msid="EB3CI" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="EB3DI" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="EB3K1">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EB3K2">  </tr>
				<tr class="msid"   data-msid="EB3K3">  </tr>
				<tr class="msid"   data-msid="EB3K4">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EB3K5">  </tr>
				<tr class="msid"   data-msid="EB3UV">  </tr>
				<tr class="msid"   data-msid="EB3V" data-printfmt="%.3f">  </tr>
            </table>
            <table  style='page-break-after:column;'>
				<tr class="msid"   data-msid="EOCHRGB3" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB3T1" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB3T2" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="TB3T3" data-printfmt="%.3f">  </tr>
            </table>
        </div>
    </div>
    
    <div class='spacer'></div>
    


</section>


<footer style='padding-top:20px'>
<hr />
<p>
If you have questions about this page, please contact: 
<a href="mailto:tisobe@cfa.harvard.edu">tisobe@cfa.harvard.edu</a>
</p>
<p style="padding-bottom:10px;">
Last Modified: Apr 24, 2018
</p>

</footer>

<!-- templates -->

    <script type="text/template" id="msid-template">
    //--- handle data format display differently 
    <% if(name == 'CCSDSTMF'){ %>
        <th>Format: </th>

    <%} else {%>
        <th class="col-name"> 
            <a href="javascript:void(0);" style="text-decoration: none;" 
                onmouseover="return overlib('<%= description  %> <br />  <%= limit %>', CAPTION, '<%= name %>' );" 
                onmouseout="return nd();">
                <%= name %>
            </a>
        </td>
    <% } %>

    <td class="col-val"> <%= value %></td>
    <!--
    <td class="col-lim"> <%= limit %></td>
    <td class="col-desc"><span><%= description %></span></td>
    -->
    </script>
    
<!-- library -->

    <script src="js/lib/math.js"></script>
    <script src="js/lib/jquery-2.2.0.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/sprintf.js"></script>
    <script src="js/lib/overlib.js"></script>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    -->


<!-- local scripts -->
    <script src="js/calc.js"></script>

    <script src="js/models/blob.js"></script>
    <script src="js/collections/bloblist.js"></script>
    <script src="js/models/msidinfo.js"></script>
    <script src="js/collections/msidinfolist.js"></script>
    <script src="js/models/msid.js"></script>
    <script src="js/collections/msidlist.js"></script>
    <script src="js/views/msidview.js"></script>
    <script src="js/views/appview.js"></script>
    <script src="js/app.js"></script>


</body>
</html>
