<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="300">
<head>
    <meta charset="UTF-8">
    <title>SOH-SNAP Dashboard</title>
    <link href="css/custom.css" rel="stylesheet">
    <style>
    </style>

</head>
<body>

<header>
    <h1>Chandra State Of Heath - Snapshot Page</h1>
        <p><b>The Last Data Update:</b> <span id="blobtime"></span></p>
</header>

<section id="dashapp">
    
    <div style='padding-bottom:40px'>
        <table border=0 style="float:left;">
            <tr>
                <td class="msid" data-msid='AOPCADMD'></td>
                <td class="msid" data-msid='CCSDSVCD'></td>
                <td class="msid" data-msid='COBSRQID' printfmt='%5d'></td>
            </tr>
        </table>

        <table border=0 style="float:right;">
            <tr>
                <td class="msid" data-msid='CCSDSTMF'></td>
                <td class="msid" data-msid='COTLRDSF'></td>
            </tr>
        </table>
    </div>

    <nav style='padding-top: 10px;'>
        <table border=1>
            <!-- <caption class='caption_top'>Link to Each Section</caption> -->
            <tr>
                <!-- <td><a href='./soh.html'>SOH Main</a> </td> -->
                <!--
                <td class='bold'>SOH Main</td> 
                <td class='bold'><a href='./soh_pcad1.html'>PCAD</a> </td> 
                <td class='bold'><a href='./soh_ccdm1.html'>CCDM</a> </td>
                <td class='bold'><a href='./soh_sc_config1.html'>S/C Config</a> </td>
                <td class='bold'><a href='./soh_mech1.html'>Mechanisms</a> </td>
                <td class='bold'><a href='./soh_thermal1.html'>Thermal</a> </td>
                <td class='bold'><a href='./soh_prop1.html'>Propulsion</a> </td>
                <td class='bold'><a href='./soh_eps1.html'>EPS</a> </td>
                <td class='bold'><a href='./soh_smode1.html'>Safe Mode</a> </td>
                <td class='bold'><a href='./soh_load1.html'>Load Rev</a> </td>
                -->
            </tr>
        </table>
    </nav>

  <hr />

  <div class='mcolumn' style='margin-left:30px;'>
    <div class='nobreak'>
        <table style='font-size:80%;'>
            <!-- <caption class='caption_top'>SnapShot</caption> -->
<tr>
<th class=bold>OBC S/W</th>         <td class="msid"   data-msid="CONLOFP"   data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
    <th class=bold style='white-space:nowrap;'>CPE Stat</th>        <td class="msid"   data-msid="AOCPESTL"  data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>ONLVCD</th>          <td class="msid"   data-msid="OFLVCDCT"  data-printfmt="%8d"></td>
<th calss=bold>&#160;</th>
<th class=bold>OBC Errors</th>      <td class="msid"   data-msid="COERRCN"   data-printfmt="%4d"></td>
</tr>

<tr>
<th class=bold>OBSID</th>           <td class="msid"   data-msid="COBSRQID"  data-printfmt="%5d"></td>
<th calss=bold>&#160;</th>
<th class=bold>EP State</th>        <td class="msid"   data-msid="EPSTATE"   data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOFSTAR</th>         <td class="msid"   data-msid="AOFSTAR"   data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th colspan=11>&#160;</th>
</tr>

<tr>
<th class=bold>SIM TT Pos</th>      <td class="msid"   data-msid="3TSCPOS"   data-printfmt="%7d"></td>
<th calss=bold>&#160;</th>
<th class=bold>SIM FA Pos</th>      <td class="msid"   data-msid="3FAPOS"    data-printfmt="%7d"></td>
<th calss=bold>&#160;</th>
<th class=bold>HETG Angle</th>      <td class="msid"   data-msid="4HPOSARO"  data-printfmt="%72.f"></td>
<th calss=bold>&#160;</th>
<th class=bold>LETG Angle</th>      <td class="msid"   data-msid="4LPOSBRO"  data-printfmt="%6.2f"></td>
</tr>

<tr>
<th class=bold>PCADMODE</th>        <td class="msid"   data-msid="AOPCADMD"  data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>PCONTROL</th>        <td class="msid"   data-msid="AOCONLAW"  data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>Bus Voltage</th>     <td class="msid"   data-msid="ELBV"      data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Bus Current</th>     <td class="msid"   data-msid="ELBI_LOW"  data-printfmt="%6.2f"></td>
</tr>

<tr>
<th class=bold>Dither</th>          <td class="msid"   data-msid="AODITHEN"  data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>Dither Y Angle</th>  <td class="msid"   data-msid="AODITHR3"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Dither Z Angle</th>  <td class="msid"   data-msid="AODITHR2"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>

<tr>
<th class=bold>HRC-I HV</th>        <td class="msid"   data-msid="2IMONST"   data-printfmt="%3s"></td>
<th calss=bold>&#160;</th>
<th class=bold>HRC-S HV</th>        <td class="msid"   data-msid="2SPONST"   data-printfmt="%3s"></td>
<th calss=bold>&#160;</th>
<th class=bold>Shield HV</th>       <td class="msid"   data-msid="2S2HVST"   data-printfmt="%3s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>
<tr>
<th class=bold>EVT RT</th>          <td class="msid"   data-msid="2DETART"   data-printfmt="%4d"></td>
<th calss=bold>&#160;</th>
<th class=bold>SHLD RT</th>         <td class="msid"   data-msid="2SHLDART"  data-printfmt="%4d"></td>
<th calss=bold>&#160;</th>
<th class=bold>Warm Rad</th>        <td class="msid"   data-msid="1WRAT"     data-printfmt="%6.1f"></td>
<th calss=bold>&#160;</th>
<th class=bold>RadMon</th>          <td class="msid"   data-msid="CORADMEN"  data-printfmt="%4s"></td>
</tr>

<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>
<tr>
<th class=bold>ACA CCD Temp</th>    <td class="msid"   data-msid="AACCCDPT"  data-printfmt="%6.1f"></td>
<th calss=bold>&#160;</th>
<th class=bold>ACA Int Time</th>    <td class="msid"   data-msid="AOACINTT"  data-printfmt="%6.3f"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACSTAT</th>        <td class="msid"   data-msid="AOACSTAT"  data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>
<!--
<tr><th colspan=11>AOA Object</th></tr>
<tr>
<th class=bold>AOACFID0</th>    <td class="msid"   data-msid="AOACFID0"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFID1</th>    <td class="msid"   data-msid="AOACFID1"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFID2</th>    <td class="msid"   data-msid="AOACFID2"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFID3</th>    <td class="msid"   data-msid="AOACFID3"  data-printfmt="%7s"></td>
<tr>
<th class=bold>AOACFID4</th>    <td class="msid"   data-msid="AOACFID4"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFID5</th>    <td class="msid"   data-msid="AOACFID5"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFID6</th>    <td class="msid"   data-msid="AOACFID6"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFID7</th>    <td class="msid"   data-msid="AOACFID7"  data-printfmt="%7s"></td>
</tr>


<tr><th colspan=11>AOA ImFuc</th></tr>
<tr>
<th class=bold>AOACFCT0</th>    <td class="msid"   data-msid="AOACFCT0"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFCT1</th>    <td class="msid"   data-msid="AOACFCT1"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFCT2</th>    <td class="msid"   data-msid="AOACFCT2"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFCT3</th>    <td class="msid"   data-msid="AOACFCT3"  data-printfmt="%7s"></td>
<tr>
<th class=bold>AOACFCT4</th>    <td class="msid"   data-msid="AOACFCT4"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFCT5</th>    <td class="msid"   data-msid="AOACFCT5"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFCT6</th>    <td class="msid"   data-msid="AOACFCT6"  data-printfmt="%7s"></td>
<th calss=bold>&#160;</th>
<th class=bold>AOACFCT7</th>    <td class="msid"   data-msid="AOACFCT7"  data-printfmt="%7s"></td>
</tr>
<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>
-->
<tr>
<th class=bold>ACA Object</th>  <td class="msid"   data-msid="AOACFIDC"   data-printfmt="%8s"></td>
<th calss=bold>&#160;</th>
<th class=bold>ACA ImFnc </th>  <td class="msid"   data-msid="AOACFCTC"   data-printfmt="%8s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th class=bold>FSS Sun Beta</th>    <td class="msid"   data-msid="AOBETSUN"  data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>FSS Alpha</th>       <td class="msid"   data-msid="AOALPANG"  data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>FSS Beta</th>        <td class="msid"   data-msid="AOBETANG"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>SA Sun Pres</th>     <td class="msid"   data-msid="AOSAILLM"  data-printfmt="%4s"></td>
</tr>

<tr>
<th class=bold>Batt 1 SOC</th>   <td class="msid"   data-msid="EOCHRGB1"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Batt 2 SOC</th>   <td class="msid"   data-msid="EOCHRGB2"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold  style='white-space:nowrap;'>Batt 3 SOC</th>   <td class="msid"   data-msid="EOCHRGB3"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th class=bold>Avg HRMA Temp</th>   <td class="msid"   data-msid="4OAVHRMT"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>OBA Tavg Fault</th>  <td class="msid"   data-msid="4OAVOBAT"  data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>OBA Trng Fault</th>  <td class="msid"   data-msid="4OBTOORF"  data-printfmt="%s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th class=bold>HRMA Power</th>      <td class="msid"   data-msid="OHRMAPWR"  data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>OBA Power</th>       <td class="msid"   data-msid="OOBAPWR"   data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>

<tr>
<th class=bold>+Y SA Amps</th>      <td class="msid"   data-msid="ESAPYI"    data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>-Y SA Amps</th>      <td class="msid"   data-msid="ESAMYI"    data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>+Y SA Temp</th>      <td class="msid"   data-msid="TSAPYT"    data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>-Y SA Temp</th>      <td class="msid"   data-msid="TSAMYT"    data-printfmt="%7.2f"></td>
</tr>

<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>

<tr>
<th class=bold>SCS 128</th>         <td class="msid"   data-msid="COSCS128S" data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>SCS 129</th>         <td class="msid"   data-msid="COSCS131S" data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>SCS 130</th>         <td class="msid"   data-msid="COSCS130S" data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>SCS 131</th>         <td class="msid"   data-msid="COSCS131S" data-printfmt="%4s"></td>
</tr>

<tr>
<th class=bold>SCS 132</th>         <td class="msid"   data-msid="COSCS132S" data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>SCS 133</th>         <td class="msid"   data-msid="COSCS133S" data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>SCS 107</th>         <td class="msid"   data-msid="COSCS107S" data-printfmt="%4s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>

<tr>
<th class=bold>Roll Rate</th>       <td class="msid"   data-msid="AORATE1"   data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Pitch Rate</th>      <td class="msid"   data-msid="AORATE2"   data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Yaw Rate</th>        <td class="msid"   data-msid="AORATE3"   data-printfmt="%7.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>


<tr>
<th class=bold>Roll Mom</th>       <td class="msid"   data-msid="AOSYMOM1"  data-printfmt="%9.3f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Pitch Mom</th>       <td class="msid"   data-msid="AOSYMOM2"  data-printfmt="%8.3f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Yaw Mom</th>         <td class="msid"   data-msid="AOSYMOM3"  data-printfmt="%8.3f"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th class=bold>Roll Bias</th>       <td class="msid"   data-msid="AOGBIAS1"  data-printfmt="%7.4f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Pitch Bias</th>      <td class="msid"   data-msid="AOGBIAS2"  data-printfmt="%7.4f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Yaw Bias</th>        <td class="msid"   data-msid="AOGBIAS3"  data-printfmt="%7.4f"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th class=bold>TSC Move</th>        <td class="msid"   data-msid="3TSCMOVE"  data-printfmt="%6s"></td>
<th calss=bold>&#160;</th>
<th class=bold>FA Move</th>         <td class="msid"   data-msid="3FAMOVE"   data-printfmt="%6s"></td>
<th calss=bold>&#160;</th>
<th class=bold>OTG Move</th>        <td class="msid"   data-msid="4OOTGMEF"  data-printfmt="%6s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th colspan=11 style='line-height:40%;'>&#160;</th>
</tr>

<!--
<tr>
<th class=bold>EPH A-Leak</th>      <td class="msid"   data-msid="5EHSE400"  data-printfmt="%8.4f"></td>
<th calss=bold>&#160;</th>
<th class=bold>EPH B-Leak</th>      <td class="msid"   data-msid="5EHSE500"  data-printfmt="%8.4f"></td>
<th calss=bold>&#160;</th>
<th class=bold>EPH Temp</th>        <td class="msid"   data-msid="TEPHIN"    data-printfmt="%9.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>EPH 27I</th><td class="msid"   data-msid="5HSE202"    data-printfmt="%9.2f"></td>
</tr>
-->


<tr>
<th class=bold>UpL Cmd Acc</th>     <td class="msid"   data-msid="CULACC"    data-printfmt="%7d"></td>
<th calss=bold>&#160;</th>
<th class=bold>Cmd Rej A</th>       <td class="msid"   data-msid="CMRJCNTA"  data-printfmt="%9d"></td>
<!--
<th calss=bold>&#160;</th>
<th class=bold>PMTANKP</th>         <td class="msid"   data-msid="PMTANKP"   data-printfmt="%8.3f"></td>
-->
<th calss=bold>&#160;</th>
<th class=bold style='white-space:nowrap;'>M Unload</th><td class="msid"   data-msid="AOUNLOAD"  data-printfmt="%6s"></td>
<th calss=bold>&#160;</th>
<th class=bold>&#160;</th><td class='empty'>&#160;</td>
</tr>

<tr>
<th class=bold>Gyro 2 Current 1</th><td class="msid"   data-msid="AIRU2G1I"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Gyro 2 Current 2</th><td class="msid"   data-msid="AIRU2G2I"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Prop. Line 03</th>   <td class="msid"   data-msid="PLINE03T"  data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>Prop. Line 04</th>   <td class="msid"   data-msid="PLINE04T"  data-printfmt="%6.2f"></td>
</tr>

<tr>
<th class=bold>CTX A Voltages</th>  <td class="msid"   data-msid="CTXAV"     data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>CTX A PWR</th>       <td class="msid"   data-msid="CTXAPWR"   data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>CTX B Voltages</th>  <td class="msid"   data-msid="CTXBV"     data-printfmt="%6.2f"></td>
<th calss=bold>&#160;</th>
<th class=bold>CTX B PWR</th>       <td class="msid"   data-msid="CTXBPWR"   data-printfmt="%6.2f"></td>
</tr>

        </table>

    </div>
<!--
    <div style='padding-top:20px'>
        <button class='stop-msid'>Stop</button>
        <button class='act-msid'>ReStart</button>
    </div>
-->
  </div>
</section>


<footer style='padding-top:20px'>
<hr />
<p>
If you have questions about this page, please contact: 
<a href="mailto:tisobe@cfa.harvard.edu">tisobe@cfa.harvard.edu</a>
</p>
<p style="padding-bottom:10px;">
Last Modified: Apr 26, 2018
</p>

</footer>

<!-- templates -->

    <script type="text/template" id="msid-template">
    //--- handle data format display differently 
    <% if(name == 'CCSDSTMF'){ %>
        <th>Format: </th>

    <%} else {%>
        <th class="col-name"> 
            <a href="javascript:void(0);" style="text-decoration: none;" 
                onmouseover="return overlib('<%= description  %> <br />  <%= limit %>', CAPTION, '<%= name %>' );" 
                onmouseout="return nd();">
                <%= name %>
            </a>
        </td>
    <% } %>

    <td class="col-val"> <%= value %></td>
    <!--
    <td class="col-lim"> <%= limit %></td>
    <td class="col-desc"><span><%= description %></span></td>
    -->
    </script>
    
<!-- library -->

    <script src="js/lib/math.js"></script>
    <script src="js/lib/jquery-2.2.0.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/sprintf.js"></script>
    <script src="js/lib/overlib.js"></script>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    -->


<!-- local scripts -->
    <script src="js/calc.js"></script>

    <script src="js/models/blob.js"></script>
    <script src="js/collections/bloblist.js"></script>
    <script src="js/models/msidinfo.js"></script>
    <script src="js/collections/msidinfolist.js"></script>
    <script src="js/models/msid.js"></script>
    <script src="js/collections/msidlist.js"></script>
    <script src="js/views/msidview.js"></script>
    <script src="js/views/appview.js"></script>
    <script src="js/app.js"></script>


</body>
</html>
