<!DOCTYPE html>
<html>
<meta http-equiv="refresh" CONTENT="300">
<head>
    <meta charset="UTF-8">
    <title>SOH-S/C Configuration</title>
    <link href="./css/custom.css" rel="stylesheet">
    <style>
    </style>

</head>
<body>

<header>
    <h1>Chandra State Of Heath - S/C Configuration</h1>
        <p><b>The Last Data Update:</b> <span id="blobtime"></span></p>
</header>

<section id="dashapp">
    
    <div style='padding-bottom:40px'>
        <table border=0 style="float:left;">
            <tr>
                <td class="msid" data-msid='AOPCADMD'></td>
                <td class="msid" data-msid='CCSDSVCD'></td>
                <td class="msid" data-msid='COBSRQID'></td>
            </tr>
        </table>

        <table border=0 style="float:right;">
            <tr>
                <td class="msid" data-msid='CCSDSTMF'></td>
                <td class="msid" data-msid='COTLRDSF'></td>
            </tr>
        </table>
    </div>

    <div class='spacer'></div>
    <nav style='padding-top: 10px;'>
        <table border=1>
            <tr>
                <td class='bold'><a href='./soh.html'>SOH Main</a> </td> 
                <td class='bold'><a href='./soh_pcad1.html'>PCAD</a> </td> 
                <td class='bold'><a href='./soh_ccdm1.html'>CCDM</a> </td>
                <td class='bold'>S/C Config</td>
                <td class='bold'><a href='./soh_mech1.html'>Mechanisms</a> </td>
                <td class='bold'><a href='./soh_thermal1.html'>Thermal</a> </td>
                <td class='bold'><a href='./soh_prop1.html'>Propulsion</a> </td>
                <td class='bold'><a href='./soh_eps1.html'>EPS</a> </td>
                <td class='bold'><a href='./soh_smode1.html'>Safe Mode</a> </td>
                <td class='bold'><a href='./soh_load1.html'>Load Rev</a> </td>
            </tr>
        </table>
        
    </nav>

  <hr />

    <div class='mcolumn'>
        <div id='flight_software' class='nobreak'>
            <table>
                <caption class='caption'>FLIGHT SOFT</caption>
				<tr class="msid"   data-msid="CORADMEN">  </tr>
				<tr class="msid"   data-msid="COSCS107S">  </tr>
				<tr class="msid"   data-msid="COSCS128S">  </tr>
				<tr class="msid"   data-msid="COSCS129S">  </tr>
				<tr class="msid"   data-msid="COSCS130S">  </tr>
            </table>
        </div>
    
    
        <div id='attitude' class='nobreak'>
            <table>
                <caption class='caption'>ATTITUDE</caption>
				<tr class="msid"   data-msid="AOALPANG" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="AOATTQT1" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="AOATTQT2" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="AOATTQT3" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="AOATTQT4" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="AOBETANG" data-printfmt="%.3f">  </tr>
            </table>
        </div>
    
        <div id='sim_and_otgs' class='nobreak'>
            <table>
                <caption class='caption'>SIM AND OTGS</caption>
				<tr class="msid"   data-msid="3FAPOS" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="3TSCPOS" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="4HPOSARO" data-printfmt="%.3f">  </tr>
				<tr class="msid"   data-msid="4LPOSBRO" data-printfmt="%.3f">  </tr>
            </table>
        </div>
    
    
        <div id='misc' class='nobreak'>
            <table>
                <caption class='caption'>MISC</caption>
				<tr class="msid"   data-msid="AOFATTMD">  </tr>
				<tr class="msid"   data-msid="AOFTHRST">  </tr>
				<tr class="msid"   data-msid="AOPSSUPM">  </tr>
            </table>
        </div>
    </div>
    
    <div class='spacer'></div>
    
    <div id='star_and_fids'>
        <div class='caption'>STAR AND FIDS</div>
        <div class='spacer'></div>
        <div class='mcolumn3'>
            <table>
				
                <tr><th class='caption cnt_title'>Image</th></tr>
				<tr class="msid"   data-msid="AOIMNUM0" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM1" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM2" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM3" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM4" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM5" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM6" data-printfmt="%d" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMNUM7" data-printfmt="%d" data-fshort='y'>  </tr>
            </table>
            <table  style='page-break-after:column;'>
				
                <tr><th class='caption cnt_title'>Status Flags</th></tr>
				<tr class="msid"   data-msid="AOIMAGE0" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE1" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE2" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE3" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE4" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE5" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE6" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOIMAGE7" data-fshort='y'>  </tr>
            </table>
            <table  style='page-break-after:column;'>

                <tr><th class='caption cnt_title'>Image Function</th></tr>
				<tr class="msid"   data-msid="AOACFCT0" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT1" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT2" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT3" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT4" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT5" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT6" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACFCT7" data-fshort='y'>  </tr>
            </table>
            <table  style='page-break-after:column;'>
				
                <tr><th class='caption cnt_title'>Centroid Y Angle</th></tr>
				<tr class="msid"   data-msid="AOACYAN0" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN1" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN2" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN3" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN4" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN5" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN6" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACYAN7" data-printfmt="%.3f" data-fshort='y'>  </tr>
            </table>
            <table  style='page-break-after:column;'>
				
                <tr><th class='caption cnt_title' >Centroid Z Angle</th></tr>
				<tr class="msid"   data-msid="AOACZAN0" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN1" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN2" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN3" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN4" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN5" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN6" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACZAN7" data-printfmt="%.3f" data-fshort='y'>  </tr>
            </table>
            <table  style='page-break-after:column;'>
				
                <tr><th class='caption cnt_title'>Magnitude</th></tr>
				<tr class="msid"   data-msid="AOACMAG0" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG1" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG2" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG3" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG4" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG5" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG6" data-printfmt="%.3f" data-fshort='y'>  </tr>
				<tr class="msid"   data-msid="AOACMAG7" data-printfmt="%.3f" data-fshort='y'>  </tr>
            </table>
        </div>
    </div>
    
    <div class='spacer'></div>
    


</section>


<footer style='padding-top:20px'>
<hr />
<p>
If you have questions about this page, please contact: 
<a href="mailto:tisobe@cfa.harvard.edu">tisobe@cfa.harvard.edu</a>
</p>
<p style="padding-bottom:10px;">
Last Modified: Sep 07, 2017
</p>

</footer>

<!-- templates -->

    <script type="text/template" id="msid-template">
    //--- handle data format display differently 
    <% if(name == 'CCSDSTMF'){ %>
        <th>Format: </th>

    <%}else {%>
        <th class="col-name"> 
            <a href="javascript:void(0);" style="text-decoration: none;" 
                onmouseover="return overlib('<%= description  %> <br />  <%= limit %>', CAPTION, '<%= name %>' );" 
                onmouseout="return nd();">
                <%= name %>
            </a>
        </td>
    <% } %>

    <td class="col-val"> <%= value %></td>
    <!--
    <td class="col-lim"> <%= limit %></td>
    <td class="col-desc"><span><%= description %></span></td>
    -->
    </script>

<!-- library -->

    <script src="js/lib/math.js"></script>
    <script src="js/lib/jquery-2.2.0.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/sprintf.js"></script>
    <script src="js/lib/overlib.js"></script>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    -->


<!-- local scripts -->
    <script src="js/calc.js"></script>

    <script src="js/models/blob.js"></script>
    <script src="js/collections/bloblist.js"></script>
    <script src="js/models/msidinfo.js"></script>
    <script src="js/collections/msidinfolist.js"></script>
    <script src="js/models/msid.js"></script>
    <script src="js/collections/msidlist.js"></script>
    <script src="js/views/msidview.js"></script>
    <script src="js/views/appview.js"></script>
    <script src="js/app.js"></script>


</body>
</html>
